.goToAyah {
    font-size: 1rem;
}
.goToAyah input {
    height: 50px;
    width: 90px;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 15px;
}

.goToAyah input:invalid {
    border-color: red;
}

.goToAyah input:valid {
    border-color: green;
}